body {
  background: url('https://s18.postimg.org/t2titzr15/Lijnen.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
